<%- include("./public/header.ejs") %>
<%- include("./public/nav.ejs") %>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>收藏夹名</th>
        <th>回答数</th>
        <th>关注人数</th>
        <th>更新时间</th>
    </tr>
    </thead>
    <tbody>
    <%for(var i=0;i<data.length;i++){%>
    <tr>
        <th> <%= i+start %> </th>
        <th> <%= data[i].title%> </th>
        <th> <%= data[i].answerCount %> </th>
        <th> <%= data[i].followerCount %> </th>
        <th> <%= data[i].updateTime %> </th>
    </tr>
    <%}%>
    </tbody>
</table>
<%-include("./public/page.ejs")%>
</body>
</html>