<%- include("./public/header.ejs") %>
<%- include("./public/nav.ejs") %>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>主讲人</th>
        <th>Live名</th>
        <th>价格(元)</th>
        <th>评分</th>
        <th>参与人数</th>
        <th>评论人数</th>
    </tr>
    </thead>
    <tbody>
    <%for(var i=0;i<data.length;i++){%>
    <tr>
        <th> <%= i+start %> </th>
        <th>
            <img style="width:80px;height:80px" src=<%= data[i].speaker.member.avatar_url.replace(/^https:\/\/[a-zA-Z0-9\.]+\//, '/getimg/')%>/>
            <p> <%= data[i].speaker.member.name %> </p>
        </th>
        <th> <%= data[i].subject %> </th>
        <th> <%= data[i].fee / 100 %> </th>
        <th> <%= data[i].score %> </th>
        <th> <%= data[i].seats %> </th>
        <th> <%= data[i].reviewCount %> </th>
    </tr>
    <%}%>
    </tbody>
</table>
<%-include("./public/page.ejs")%>
</body>
</html>