<%- include("./public/header.ejs") %>
<%- include("./public/nav.ejs") %>
<table class="table table-bordered">
    <thead>
    <tr>
        <th style="min-width:100px">序号</th>
        <th style="min-width:100px">话题图</th>
        <th style="min-width:100px">话题名</th>
        <th style="min-width:100px">话题ID</th>
        <th style="min-width:100px">关注人数</th>
        <th>介绍</th>
    </tr>
    </thead>
    <tbody>
    <%for(var i=0;i<data.length;i++){%>
        <tr>
            <th> <%- i+start %> </th>
            <th><img style="width:80px;height:80px" src=<%= data[i].avatarUrl.replace(/^https:\/\/[a-zA-Z0-9\.]+\//, '/getimg/')%>></th>
            <th> <%= data[i].name %> </th>
            <th> <%= data[i].topicId %> </th>
            <th> <%= data[i].followers %> </th>
            <th> <%- data[i].introduction %> </th>
        </tr>
    <%}%>
    </tbody>
</table>
<%-include("./public/page.ejs")%>
</body>
</html>