<header class="nav-bar navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class=<% if(url === '/') { %> <%= "active" %> <% } %> ><a href="/">用户</a></li>
            <li class=<% if(url === '/topics') { %> <%= "active" %> <% } %> ><a href="/topics">话题</a></li>
            <li class=<% if(url === '/questions') { %> <%= "active" %> <% } %> ><a href="/questions">问题</a></li>
            <li class=<% if(url === '/collections') { %> <%= "active" %> <% } %> ><a href="/collections">收藏夹</a></li>
            <li class=<% if(url === '/columns') { %> <%= "active" %> <% } %> ><a href="/columns">专栏</a></li>
            <li class=<% if(url === '/lives') { %> <%= "active" %> <% } %> ><a href="/lives">Live</a></li>
        </ul>
    </div>
</header>
